body{
margin:0;
font-family:Poppins,sans-serif;
background:#111827;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 10%;
background:#0f172a;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero span{
color:#38bdf8;
}

.btn{
padding:12px 25px;
background:#38bdf8;
color:white;
text-decoration:none;
border-radius:8px;
}

section{
padding:60px 10%;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
}

.cards div,.project{
background:#1f2937;
padding:20px;
border-radius:10px;
text-align:center;
}

footer{
text-align:center;
padding:20px;
background:#0f172a;
}

.light{
background:white;
color:black;
}
